@font-face {
    font-family: SeoulHangang;
    src: url(../webfonts/SeoulHangang-Bold.ttf);
}

body{
    font-family: 'Work Sans', sans-serif;
    text-align: left;
}


.navbar-nav .nav-item {
    margin: 0 0 0 5px;
}

.slider-area .content-slider-area h2,
.about-area .content-about h2,
.menu-area .content-menu h2,
.contact-area .form-contact h2,
.menu-tab-header h2{
    font-family: 'SeoulHangang', cursive;
}

.slider-area .content-slider-area h1 {
    line-height: 1.4;
}

.about-area .content-about{
    padding-right: 30px;
}

.menu-area .content-menu{
    padding-left: 50px;
}

.breadcrumb-content li {
    margin-right: 30px;
}

.breadcrumb-content li:last-of-type{
    margin-right: 0;
}

.breadcrumb-content li:not(last-of-type) ::before{
    right: -22px;
}


.single-menu .menu-content h4 {
    float: left;
    text-align: left;
    padding-right: 10px;
}

.single-menu .menu-content  span {
    float: right;
    padding-left: 10px;
}

.single-menu .menu-content .dotted-lines {
    left: 0;
}

@media (max-width: 991.98px) {
    .navbar  .navbar-toggler{
        right: 0;
    }
    .navbar .navbar-toggler .navbar-toggler-icon::before, .navbar .navbar-toggler .navbar-toggler-icon::after {
        left: 0;
    }
    .navbar-inner{
        right: -100%;
    }
    .navbar.active .navbar-inner {
        right: 0;
    }
}
